.App {
    text-align: center;
    margin-top: 50px;
  }
  
  .book {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    transition: transform 0.3s ease;
  }
  
  .book-page {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .book-page.single {
    width: 620px; /* Adjust this to make the cover page wider */
  }
  
  .canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .accessibility-button, .fullscreen-button, .note-button, .save-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .accessibility-button:hover, .fullscreen-button:hover, .note-button:hover, .save-button:hover {
    background-color: #45a049;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .CanvasDraw {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
  }
  